.header-container {
  height: 860px;
  width: 100%;
  position: relative;
  background-image: url(../../../images/chairBg.png);
  background-size: cover;
}
.header-container::after {
  height: 770px;
  width: 28%;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3a4246;
  z-index: -50;
}
